.input {
    padding: 5px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 4px;

}
.input:focus {
    border-color: #66e973;
    outline: 0;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}
.input--find:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}
.input-box {
    margin-bottom: 5px;
    margin-top: 5px;
}
.input-label {
    color: dimgray;
}
.input--addtitle {
    min-width: 400px;

}