.btn {
    min-width: 100px;
    margin: 5px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    padding: 5px;
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
.btn:hover {
    background: rgb(53, 167, 110);
}
.btn--Up {
    background: rgb(199, 64, 120);
    box-shadow: 0 -3px rgb(145, 45, 87) inset;
}
.btn--Up:hover {
    background: rgb(145, 45, 87);
}
.btn--find {
    background: rgb(100, 149, 237);
    box-shadow: 0 -3px rgb(30, 144, 255) inset;
}
.btn--find:hover {
    background: rgb(30, 144, 255);
}