
.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}
.modal.active {
    transform: scale(1);
}
.modal__content {
    width: 350px;
    max-width: 100%;
    padding: 20px;
    border-radius: 12px;
    background-color: aliceblue;
    box-shadow:0px 0px 15px 12px rgba(0,0,0,0.5);

}
.modal__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 3px;
}
.error-message {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
}
.btn__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display:block;
    box-sizing:border-box;
    width:20px;
    height:20px;
    border-width:3px;
    border-style: solid;
    border-color:red;
    border-radius:100%;
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
    background-color:red;
    box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}


