.post-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(aliceblue, white);
    border-top: 2px solid lightslategrey;
}
.post-item__content {
    padding: 5px 10px 5px 10px;
    width: 50%;
}
.post-item__image {
    width: 500px;
    float:left;
    margin: 0px 15px 5px 0px;
}
.link-box:active,
.link-box:hover,
.link-box
{
    text-decoration: none;
    color: black;
}
