.postItem-box {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(aliceblue, white);
    border-top: 2px solid lightslategrey;
}
.postItem-text {
    padding: 5px 10px 5px 10px;
    width: 50%;
}
.post-img {
    width: 500px;
}